doctype html
html
    head
        style
            include style.css
    body
        div
            | HELLO CHAT
            br
            | Верстка буде але колись
            p This is p
        div
            block content
        div.footer
            | Best regards
            a(href=frontendURL) June course Node js


